.App {
  display: flex;
  justify-content: center;
}

.calculator {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator > * {
  border: 1px solid black;
  padding: 10px;
}

.row {
  grid-column: 1 / -1;
}

#display {
  grid-column: 1 / -1;
  text-align: right;
  font-size: 1rem;
}

#clear {
  text-align: center;
}